In [3]:
# Import the necessary packages
import pandas as pd
import urllib.request, json, csv

In [4]:
# Import the articles dataset
with urllib.request.urlopen("http://127.0.0.1:8000/api/?format=json") as url:
    data = pd.read_json(url)

In [5]:
data

,id,title,date,tags,slug,content
0,7,First article,2025-02-26,first article,first-article,# Title 1\r\nThis is my *very* first article _...
1,8,This is my second article,2025-02-26,"CM, Zebra finch, blabalblal",this-is-my-second-article,You can write what ever you want.

In [27]:
def write_txt():
    i = 1
    for index, row in data.iterrows():
        file_path = f"../output/{row['title']}.txt"
        with open(file_path, 'w') as file:
            # convert the row to a string
            row_string = ', '.join(str(item) for item in row.values)
            # Write the row to the file, adding a newline character
            file.write(row_string + '\n')

In [28]:
write_txt()